.THIS.login-wrapper{
	box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.15);
    padding: 50px;
}
.THIS h1{
    font-family: 'Gotham-Book';
    font-size: 44px;
    color: #000000;
}
.THIS .inputst{
    width:30%;
    
}
@media only screen and (max-width: 500px) {
	.THIS.login-wrapper{
		box-shadow: none;
        padding: 0px;
    }
} 

.THIS .alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}